:host {
    height: 100%;
}
ion-item {
    --border-color: var(--ion-color-light);
}
ion-item ion-label {
    font-size: 14px;
}
.menu-layout {
    height: 100%;
}
.menu-layout ion-col {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-layout ion-col:first-child {
    background: var(--ion-color-light);
}
.menu-layout ion-col:last-child {
    padding: 0;
}
.menu-layout .col-inner {
    width: 100%;
}
.workspace-item {
    text-align: center;
}
.workspace-item ion-thumbnail {
    --border-radius: 4px;
}
.workspace-item .workspace-title {
    font-size: 10px;
    margin-top: 2px;
}
